{% extends "app_beans_and_cream_cafe/base.html" %}

{% block content %}
<div class="container spaced-top-5 black-bg">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;
            font-size: 70px;
            font-weight: 700;
            text-transform: uppercase;
            font-style: normal;
            text-decoration: underline;
            line-height: 1em;
            letter-spacing: -1px; /* Adjusted letter-spacing */
            margin-top: 50px;
            margin-bottom: 50px;
            color: #ffbfce; /* Changed text color to a cool green */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow for depth */
            font-family: 'Arial', sans-serif; /* Changed font to Arial for simplicity */
            ">
    Contact Us
</h1>

            <p class="text-center" style="color: #000000; font-family: 'Open Sans', sans-serif;">If you have any questions or suggestions, please contact us using the form below:</p>


            <form method="post" action="#">
                {% csrf_token %}

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                             <label for="nume">Name</label>
                            <input type="text" class="form-control" id="nume" name="nume" placeholder="Name" required>
                        </div>
                        <div class="col">
                             <label for="nume">Surname </label>
                            <input type="text" class="form-control" id="prenume" name="prenume" placeholder="Surname " required>
                        </div>
                    </div>
                </div></br>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                             <label for="phone">Phone:</label>
                            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                        </div>
                        <div class="col">
                             <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        </div>
                    </div>
                </div></br>

                <div class="form-group">
                    <label for="mesaj">Message:</label>
                    <textarea class="form-control" id="mesaj" name="mesaj" placeholder="You can write your message here..." rows="4" required></textarea> </br>
                </div>

                <button type="submit" class="btn-custom spaced-top-2">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
