{% extends "app_beans_and_cream_cafe/base.html" %}

{% block content %}
<div class="container spaced-top-5 black-bg">
    <div class="row">
        <div class="col">
            <div class="row">
                <h1 class="heading-title">O pauză de cafea, un moment de relaxare!</h1>
            </div>
            <a href="{% url 'app_beans_and_cream_cafe:products' %}">
                <button class="btn-custom spaced-top-2">Vezi produsele</button>
            </a>
        </div>
        <div class="col">
            {% include "app_beans_and_cream_cafe/carousel.html" %}
        </div>
    </div>
</div>
{% endblock %}