{% extends "app_beans_and_cream_cafe/base.html" %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col">
            <img src="{{ product.image.url }}" alt="{{ product.name }} Image" class="img-fluid">
        </div>
        <div class="col">
            <div class="row">
                <h5 class="card-title">{{ product.name }}  <span class="text-success"</h5>
                <h5 class="card-title text-danger">Price(lei): {{ product.price_lei }}</h5>
                <p class="card-text"><p> {{product.description}}</p>
                <p class="card-text"><p>Nutritional Values: {{product.nutritional_values}}</p>
                <p class="card-text"><small class="text-muted">Weight: {{ product.gramaj_ml }} ml</small></p>
            </div>
            {% if user.is_authenticated  %}
                <a href="{% url 'app_beans_and_cream_cafe:add_to_cart' product_id=product.id %}">
                    <button class="btn-custom-reverse spaced-top-2">Add to cart</button>
                </a>
            {% endif %}
        </div></br>
    </div>
</div>
{% endblock %}

